{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome !</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <h1 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center;padding-top: 10vh;">Hello, how are you?</h1>
</head>
<body>
    <form action='' method="POST">
        {% csrf_token %} {{ form }}
        <div class="centre-items">
            <input type="submit" class="btn btn-primary" value="Add Status" id="submit">
        </div>
    </form>
    <table>
        <thead>
            Hello World !!!
        </thead>
        <tbody>
            {% for status in status %}
            <tr>
                <th>{{status.time}}</th>
                <td>{{status.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>